* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: system-ui, sans-serif;
    background: #F3E5F5;
    color: #212121;
    line-height: 1.7;
    font-size: 1rem;
}
header {
    background: #6A1B9A;
    color: white;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(106, 27, 154, 0.2);
}
nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.logo {
    font-size: 1.9rem;
    font-weight: 800;
    color: #c568d7;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}
.nav-links {
    display: flex;
    gap: 2rem;
}
.nav-links a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    position: relative;
}
.nav-links a:hover {
    color: #E1BEE7;
}
.container {
    max-width: 2000px;
    margin: auto;
    padding: 2rem;
}
.hero {
    background-color: rgba(116, 32, 168, 0.9);
    color: white;
    text-align: center;
    padding: 7rem 2rem;
    border-radius: 0 0 60px 60px;
    margin-bottom: 3rem;
}
.hero h1 {
    font-size: 3.8rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.hero p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.hero input[type="text"] {
    padding: 1rem 1.5rem;
    width:700px;
    max-width: 420px;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.btn {
    background: #AB47BC;
    color: white;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 50px;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}
.btn:hover {
    background: #8E24AA;
}
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
}
.card {
    background: white;
    border-radius: 18px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 6px 18px rgba(106, 27, 154, 0.1);
}
.card:hover {
    box-shadow: 0 12px 30px rgba(106, 27, 154, 0.18);
}
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-bottom: 4px solid #AB47BC;
}
.card-body {
    padding: 1.5rem;
}
.card h3 {
    margin: 0.8rem 0 0.4rem;
    color: #6A1B9A;
    font-size: 1.3rem;
}
.card p {
    color: #555;
    font-size: 0.95rem;
}
form {
    max-width: 500px;
    margin: 2rem auto;
    background: white;
    padding: 2.5rem;
    border-radius: 18px;
    box-shadow: 0 6px 20px rgba(106, 27, 154, 0.12);
}
footer {
    background: #6A1B9A;
    color: #E1BEE7;
    text-align: center;
    padding: 2.5rem;
    margin-top: 5rem;
    font-size: 0.95rem;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}








